# flyctl launch added from .gitignore
**/__pycache__
**/*.egg-info
**/.*.swp
**/node_modules
test.py
demo.py
**/*.pickle
**/tests/screenshots
**/.venv
**/.pytest_cache
**/.coverage
**/.git
**/.github
**/.mypy_cache
**/.nicegui

.pytest_cache/**/*
tests/.pytest_cache/**/*
**/.ruff_cache
**/*.pyc
**/.cursor
**/.DS_Store
**/.idea
**/.vscode
package-lock.json
