[tool.poetry]
name = "nicegui"
version = "0.1.0"
description = "Web User Interface with Buttons, Dialogs, Markdown, 3D Scences and Plots"
authors = ["Zauberzeug GmbH <info@zauberzeug.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/zauberzeug/nicegui"
keywords = ["gui", "ui", "web", "interface", "live"]

[tool.poetry.dependencies]
python = "^3.7"
justpy = "^0.2.3"
typing-extensions = ">=3.10.0"
markdown2 = "^2.4.3"
Pygments = "^2.9.0"
docutils = "^0.17.1"
asttokens = "^2.0.5"
uvicorn = "^0.18.0"
websockets = "^10.3"
httpx = "^0.23.0"
watchfiles = "^0.16.1"
matplotlib = [
    { version = "^3.5.0", markers = "python_version ~= '3.7'"},
    { version = "^3.6.0", markers = "python_version ~= '3.11.0'"},
]
cryptography = [
    { version = "^37.0.4", markers = "python_version ~= '3.7'"},
    { version = "^38.0.3", markers = "python_version ~= '3.11.0'"},
]
pillow = ">=9.3.0"

[tool.poetry.dev-dependencies]
icecream = "^2.1.0"
autopep8 = "^1.5.7"
debugpy = "^1.3.0"
beautifulsoup4 = "^4.11.1"
pytest-selenium = "^4.0.0"
pytest-asyncio = "^0.19.0"
pytest = "6.2.5"
replicate = "^0.4.0"

[build-system]
requires = [
    "setuptools>=30.3.0,<50",
    "poetry-core>=1.0.0"
]
build-backend = "poetry.core.masonry.api"
