[tool.poetry]
name = "nicegui"
version = "0.1.0"
description = "Web User Interface with Buttons, Dialogs, Markdown, 3D Scences and Plots"
authors = ["Zauberzeug GmbH <info@zauberzeug.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/zauberzeug/nicegui"
keywords = ["gui", "ui", "web", "interface", "live"]

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = ">=3.10.0"
markdown2 = "^2.4.3"
Pygments = "^2.9.0"
docutils = "^0.17.1"
uvicorn = {extras = ["standard"], version = "^0.20.0"}
matplotlib = [
    { version = "^3.5.0", markers = "python_version ~= '3.7'"},
    { version = "^3.6.0", markers = "python_version ~= '3.11.0'"},
]
fastapi = "^0.88.0"
fastapi-socketio = "^0.0.9"
vbuild = "^0.8.1"
watchfiles = "^0.18.1"
jinja2 = "^3.1.2"
python-multipart = "^0.0.5"

[tool.poetry.group.dev.dependencies]
icecream = "^2.1.0"
autopep8 = "^1.5.7"
debugpy = "^1.3.0"
pytest-selenium = "^4.0.0"
pytest-asyncio = "^0.19.0"
pytest = "6.2.5"
replicate = "^0.4.0"
itsdangerous = "^2.1.2" # required by SessionMiddleware (see https://fastapi.tiangolo.com/?h=itsdangerous#optional-dependencies)
isort = "^5.11.4"
opencv-python = "^4.7.0.68"

[build-system]
requires = [
    "setuptools>=30.3.0,<50",
    "poetry-core>=1.0.0"
]
build-backend = "poetry.core.masonry.api"
