[tool.poetry]
name = "nicegui"
version = "0.1.0"
description = "Create web-based user interfaces with Python. The nice way."
authors = ["Zauberzeug GmbH <info@zauberzeug.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/zauberzeug/nicegui"
keywords = ["gui", "ui", "web", "interface", "live"]

[tool.poetry.dependencies]
python = "^3.8"
typing-extensions = ">=3.10.0"
markdown2 = "^2.4.7"
Pygments = ">=2.9.0,<3.0.0"
uvicorn = {extras = ["standard"], version = "^0.22.0"}
fastapi = ">=0.92,<1.0.0"
fastapi-socketio = "^0.0.10"
vbuild = "^0.8.1"
watchfiles = ">=0.18.1,<1.0.0"
jinja2 = "^3.1.2"
python-multipart = "^0.0.6"
orjson = {version = "^3.8.6", markers = "platform_machine != 'i386' and platform_machine != 'i686'"} # orjson does not support 32bit
importlib_metadata = { version = "^6.0.0", markers = "python_version ~= '3.7'" } # Python 3.7 has no importlib.metadata
itsdangerous = "^2.1.2"
aiofiles = "^23.1.0"
pywebview = { version = "^4.0.2", optional = true }
plotly = { version = "^5.13.0", optional = true }
matplotlib = { version = "^3.5.0", optional = true }

[tool.poetry.extras]
native = ["pywebview"]


[tool.poetry.group.dev.dependencies]
icecream = "^2.1.0"
autopep8 = "^1.5.7"
debugpy = "^1.3.0"
pytest-selenium = "^4.0.0"
pytest-asyncio = "^0.19.0"
pytest = "6.2.5"
itsdangerous = "^2.1.2" # required by SessionMiddleware (see https://fastapi.tiangolo.com/?h=itsdangerous#optional-dependencies)
isort = "^5.11.4"
docutils = "^0.19"
pandas = [
    { version = "^1.0.0", markers = "python_version == '3.7'" },
    { version = "^2.0.0", markers = "python_version >= '3.8'" },
]
secure = "^0.3.0"
webdriver-manager = "^3.8.6"

[build-system]
requires = [
    "setuptools>=30.3.0,<50",
    "poetry-core>=1.0.0"
]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--driver Chrome"
asyncio_mode = "auto"

[tool.mypy]
ignore_missing_imports = true