[tool.poetry]
name = "nice_gui"
version = "0.1.0"
description = "High-Level Abstraction Web-GUI Using Just Python"
authors = ["Zauberzeug GmbH"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
justpy = "0.1.5"
icecream = "^2.1.0"
matplotlib = "^3.4.1"
typing-extensions = "^3.10.0"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.7"
debugpy = "^1.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
