`), {
        version: "{{ version }}",
        prefix: "{{ prefix | safe }}",
        query: {{ socket_io_js_query_params | safe }},
        extraHeaders: {{ socket_io_js_extra_headers | safe }},
        transports: {{ socket_io_js_transports | safe }},
      });
      const dark = {{ dark }};
      const language = "{{ language }}";
      const vue_config = {{ vue_config | safe }};
      {{ vue_config_script | safe }}

      {{ js_imports | safe }}
      {{ vue_scripts | safe }}

      app.mount("#app");
    </script>
  </body>
</html>
