services:
  app:
    image: zauberzeug/nicegui:1.4.19
    volumes:
      - ./app:/app # mount local app directory
  proxy:
    image: nginx:1.16.0-alpine
    ports:
      - "80:80" # map internal port 80 to external port 80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf # use custom nginx config
