html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #f8f8f8;
}
em:not(.browser-window *) {
  font-style: normal;
  color: #5a99ff;
}
a:link:not(.browser-window *),
a:visited:not(.browser-window *) {
  color: inherit !important;
  text-decoration: none;
}
a:hover:not(.browser-window *),
a:active:not(.browser-window *) {
  opacity: 0.85;
}
.bold-links a:link {
  font-weight: 500;
}
.arrow-links a:link::after {
  content: "north_east";
  font-family: "Material Icons";
  font-weight: 100;
  vertical-align: -10%;
}

.q-header {
  height: 70px;
  background-color: #5a99ff;
}
.q-header.fade {
  padding-top: 20px;
  transform: translateY(-20px);
  background-color: #5a99ffd0;
  backdrop-filter: blur(5px);
}

dl.field-list {
  display: grid;
  font-size: 85%;
  grid-template-columns: max-content auto;
  margin: 1em 0;
}
dl.field-list dt {
  grid-column-start: 1;
  margin-right: 1em;
  font-weight: 500;
}
dl.field-list dd {
  grid-column-start: 2;
}
dl.field-list p {
  margin-bottom: 0;
}

.dark-box {
  background-color: #5a99ff;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  html {
    /* prevent issues with smooth scrolling while menu is closing */
    scroll-behavior: smooth;
  }
}
