name: Code Quality Check

on: workflow_call

jobs:
  code-check:
    name: ${{ matrix.target.name }}
    strategy:
      matrix:
        target:
          - name: pre-commit
            command: pre-commit run --all-files
          - name: mypy
            command: mypy ./nicegui
          - name: pylint
            command: pylint ./nicegui
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install Python
        run: uv python install 3.10
      - name: Install dependencies
        run: uv sync
      - name: ${{ matrix.target.name }}
        run: uv run ${{ matrix.target.command }}
