.rotate-45 {
  rotate: 0deg;
}
.rotate-90 {
  rotate: 0deg;
}
.rotate-135 {
  rotate: 0deg;
}
.rotate-180 {
  rotate: 0deg;
}
.rotate-225 {
  rotate: 0deg;
}
.rotate-270 {
  rotate: 0deg;
}
.rotate-315 {
  rotate: 0deg;
}
