.nicegui-layout {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.nicegui-header,
.nicegui-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  padding: 16px;
}
.nicegui-drawer {
  padding: 16px;
}
.nicegui-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  padding: 16px;
}
.nicegui-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}
.nicegui-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}
.nicegui-grid {
  display: grid;
  gap: 1rem;
}
.nicegui-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  padding: 16px;
}
.nicegui-link:link,
.nicegui-link:visited {
  text-decoration-line: underline;
  color: rgb(59 130 246);
}
.nicegui-link:hover,
.nicegui-link:active {
  opacity: 0.8;
}
.nicegui-separator {
  width: 100%;
}
.nicegui-aggrid {
  width: 100%;
  height: 16rem;
}
.nicegui-log {
  padding: 0.25rem;
  border-width: 1px;
  white-space: pre;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  opacity: 1 !important;
  cursor: text !important;
}
.nicegui-markdown blockquote {
  border-left: 0.25rem solid #8884;
  padding: 1rem 1rem 0.5rem 1rem;
  margin: 1rem 0;
}
.nicegui-markdown th {
  padding: 0.5rem;
  border: 1px solid #8884;
}
.nicegui-markdown td {
  padding: 0.5rem;
  border: 1px solid #8884;
}

#popup {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1pt solid rgba(127, 127, 127, 0.25);
  border-radius: 0.25em;
  box-shadow: 0 0 0.5em rgba(127, 127, 127, 0.05);
  margin: 2em;
  padding: 1.5em 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  opacity: 0;
  transition-duration: 500ms;
  pointer-events: none;
}
.body--dark #popup {
  background-color: black;
}
.body--light #popup {
  background-color: white;
}
#popup[style*="opacity: 1;"] {
  transition-delay: 2000ms;
}
#popup > span:first-child {
  font-weight: bold;
}
#popup > span:first-child::before {
  content: "⚠️";
  position: absolute;
  left: 1.5em;
}
