.q-icon:before, .q-icon:after {
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}.q-chip--outline {
  background: transparent !important;
  border: 1px solid currentColor;
}.q-color-picker__header-bg {
  background: #fff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAH0lEQVQoU2NkYGAwZkAFZ5G5jPRRgOYEVDeB3EBjBQBOZwTVugIGyAAAAABJRU5ErkJggg==") !important;
}.q-color-picker__cube {
  padding-bottom: 10%;
  width: 10% !important;
}.q-date__calendar-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 14.285% !important;
  height: 12.5% !important;
  position: relative;
  padding: 1px;
}.q-dialog__inner--maximized > div {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  border-radius: 0 !important;
  top: 0 !important;
}.q-field__native, .q-field__input {
  width: 100%;
  min-width: 0;
  outline: 0 !important;
  -webkit-user-select: auto;
          user-select: auto;
}.q-field__focusable-action {
  opacity: 0.6;
  cursor: pointer;
  outline: 0 !important;
  border: 0;
  color: inherit;
  background: transparent;
  padding: 0;
}.q-item__label {
  line-height: 1.2em !important;
  max-width: 100%;
}.q-drawer--mini-animate .q-drawer__content {
  overflow-x: hidden !important;
  white-space: nowrap;
}.q-drawer__backdrop {
  z-index: 2999 !important;
  will-change: background-color;
}.q-menu {
  position: fixed !important;
  display: inline-block;
  max-width: 95vw;
  max-height: 65vh;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 0;
  z-index: 6000;
}.q-scrollarea__bar--invisible, .q-scrollarea__thumb--invisible {
  opacity: 0 !important;
  pointer-events: none;
}.q-select .q-field__input {
  min-width: 50px !important;
  cursor: text;
}.q-select__focus-target, .q-select__autocomplete-input {
  position: absolute;
  outline: 0 !important;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  opacity: 0;
}.q-select__dialog {
  width: 90vw !important;
  max-width: 90vw !important;
  max-height: calc(100vh - 70px) !important;
  background: #fff;
  display: flex;
  flex-direction: column;
}.q-tabs--vertical {
  display: block !important;
  height: 100%;
}.q-tabs--vertical .q-tabs__content {
  display: block !important;
  height: 100%;
}.q-tooltip {
  z-index: 9000;
  position: fixed !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6px 10px;
  max-width: 95vw;
  max-height: 65vh;
}.q-uploader__input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  z-index: 1;
}.q-loading {
  color: #000;
  position: fixed !important;
}.fullscreen {
  z-index: 6000;
  border-radius: 0 !important;
  max-width: 100vw;
  max-height: 100vh;
}.q-position-engine {
  margin-top: var(--q-pe-top, 0) !important;
  will-change: auto;
  visibility: collapse;
}